
.navbar{
    background-color: #E8767D;
    color: white;
    height: 40px;
}

.nav-list{
    padding-right: 2vw;
}

.nav-li{
    list-style-type: none;
    text-decoration: none;
    display: block;
    float: right;
    padding-left: 2vw;

}

.left-subdivs{
    width: 100%;
}

#menu {
    background-color: #EBEBEB;
}
